{% extends 'booking/base.html' %}
{% load bootstrap4 %}
{% block content %}
{{ block.super }}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<b>BOOK A HOTEL</b>
<form action="{% url 'Bookings:bookingResult' %}" method="post">
    {% csrf_token %}

    <p>{{ form.location.label }} {{ form.location }} </p>
    <!--<p>{{ form.checkInDate.label }} {{ form.checkInDate }}</p>-->
    <!--<p>{{ form.checkOutDate.label }} {{ form.checkOutDate }}</p>-->
    <p>Check In Date <input type="date" name="checkInDate"></p>
    <p>Check Out Date <input type="date" name="checkOutDate"></p>
    <p>{{ form.amount.label }} {{ form.amount }}</p>
    <input type="submit" value="Submit" />
    <p><a href="/booking">Back</a></p>
</form>
{% endblock %}