{% extends 'booking/base.html' %}
{% load bootstrap4 %}
{% block content %}
{{ block.super }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<p><b>Welcome to Hotel Booking and Recomendation Platform</b></p>
<p><a href="/booking/login">Login</a></p>
<p><a href="/booking/register">Create an account</a></p>
<!--<p><a href="/booking/bookHotel">Click to Book a hotel</a></p>-->
<p><a href="/booking/viewVisits">See the number of visits to a particular hotel and prices</a></p>
</body>
</html>
{% endblock %}